body {
    margin: 0;
    padding: 0;
}

.cart {
    &_item-container{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        box-shadow: 10px 10px 20px white(0, 0, 0, 0.3);
        margin: 30px;
        background-color: white;
        border-radius: 20px;
        align-items: center;
    }

    &_item {
        padding: 10px;
        font-size: 20px;
        &-quantity {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: 10px;
        }
    }

    &_quantity {
        &-btn {
            width: 50px;
            height: 30px;
            border: 2px solid black;
            border-radius: 10px;
            &:hover {
                background-color: black;
                color: white;
            }
        }

        &-value {
            font-size: 20px;
            padding: 10px;
        }
    }

    &_image{
        width: 80px;
        height: 80px;
    }

    &_delete-btn:hover {
        color: red;
    }

    &_no-data {
        color: white;
        font-size: 30px;
    }

}