.container {
    display: flex;
  }
  
  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .sidebar a {
    padding: 16px 16px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #818181;
  }

  .sidebar .closebtn {
    position: absolute;
    top: 10px;
    left: 15px;
    font-size: 36px;
  }

  .appBar {
    background-color: white;
  }